button {
  width: 112px;
  height: 40px;
  padding: 9px 18px 9px 18px;
  border-radius: 4px;
  border: 1px #EF4438 solid;
  background-color: #fff;

  color: #EF4438;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}