<div class="custom-select">
    <select>
    @if (Options != null){
        foreach (var option in Options)
        {
            <option value="@option">@option</option>
        }
    }
    </select>
</div>


@code {
    [Parameter]
    public List<string>? Options { get; set; }
}


