<div class="label">
  <label for="QuestionType">@Label</label>
</div>
<div class="select">
  <select>
    @if (Options != null) {
      foreach (var option in Options)
      {
        <option value="@option">@option</option>
      }
    }
  </select>
</div> 

@code {
    [Parameter]
    public string? Label { get; set; } 
    [Parameter]
    public  List<string>? Options { get; set; }
}