<div class="left-container">
    <img src="TopBarImages/yahoo.svg" alt="Icon" class="logo">
    <input type="text" class="search-bar" placeholder="Search anything" autocomplete="off">
</div>

<div class="right-container">
    <div class="help-info-container">
        <img src="TopBarImages/question_mark.svg" alt="question_mark_icon">
        <img src="TopBarImages/online_service.svg" alt="online_service_icon">
    </div>
    <div class="personal-info-container">
        <img src="TopBarImages/avatar.svg" alt="avatar">
        <div>QA</div>
        <img class="dropdown-arrow" src="SharedImage/dropdown_arrow.svg" alt="dropdown_arrow">
    </div>
</div>

